body {
  background-color: lightgray;
  text-align: center;
  margin: 10%;
  font-family: "DotGothic16", sans-serif;
  font-size: 18px;
}

h1 {
  padding: 1%;
  letter-spacing: 12px;
  text-transform: uppercase;
  font-size: 2.2em;
}

p {
  padding-bottom: 2%;
}

button {
  background: transparent;
  border: none !important;
  font-family: "DotGothic16", sans-serif;
  font-size: 18px;
}

#menu {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.colors {
  width: 250px;
  height: 250px;
  display: inline-block;
}

.green {
  background-color: darkgreen;
  border-top-left-radius: 100%;
}

.green:active,
.green.activated {
  background-color: greenyellow;
}

.red {
  background-color: darkred;
  border-top-right-radius: 100%;
}

.red:active,
.red.activated {
  background-color: red;
}

.yellow {
  background-color: orange;
  border-bottom-left-radius: 100%;
}

.yellow:active,
.yellow.activated {
  background-color: yellow;
}

.blue {
  background-color: darkblue;
  border-bottom-right-radius: 100%;
}

.blue:active,
.blue.activated {
  background-color: lightblue;
}

footer p {
  padding-top: 10%;
  font-size: 0.7em;
}

a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.unclickable {
  pointer-events: none;
}
